.container{
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
}
.row{
    width: 100%;
}

.box{
    min-height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: white;
    /* debug */
    border: 1px solid var(--white);
}

.nested{
    background-color: var(--green);
    border: 1px solid var(--light-blue);
}