
.row{
    width: 100%;
}

.box{
    min-height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: white;
    /* debug */
    background-color: #07779c;
    border: 1px solid white;
}

.nested-box{
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    /* debug */
    background-color: green;
    border: 1px solid #07779c;
}